<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
      <h2>All Blogs</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, officiis
        ipsum culpa assumenda provident error?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, officiis
        ipsum culpa assumenda provident error?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, officiis
        ipsum culpa assumenda provident error?
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
